  <launch>
     <!-- Turtlesim Node-->
    <node pkg="turtlesim" type="turtlesim_node" name="sim"/>
    <!-- Axes -->
    <param name="scale_linear" value="2" type="double"/>
    <param name="scale_angular" value="2" type="double"/>

    <node pkg="person_follower" type="tf2_broadcaster"
          args="/person_1" name="person_tf2_broadcaster" />
    <node pkg="person_follower" type="tf2_broadcaster"
          args="/person_1" name="person_tf2_broadcaster" />
    <node pkg="person_follower" type="tf2_listener"
          name="listener" />

  </launch>
